[submodule "gflags"]
	path = gflags
	url = https://github.com/gflags/gflags.git
[submodule "glog"]
	path = glog
	url = https://github.com/google/glog.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "incubator-brpc"]
	path = incubator-brpc
	url = https://github.com/apache/brpc.git
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb.git
[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "rocksdb-gtest-1.8.1"]
	path = rocksdb-gtest-1.8.1
	url = https://github.com/google/googletest.git
[submodule "braft"]
	path = braft
	url = https://github.com/baidu/braft.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libaco"]
	path = libaco
	url = https://github.com/hnes/libaco.git
[submodule "erasure-code/isal"]
	path = erasure-code/isal
	url = https://github.com/intel/isa-l.git
[submodule "erasure-code/jerasure/jerasure"]
	path = erasure-code/jerasure/jerasure
	url = https://github.com/ceph/jerasure.git
[submodule "erausre-code/jerasure/gf-complete"]
	path = erausre-code/jerasure/gf-complete
	url = https://github.com/ceph/gf-complete.git
[submodule "erasure-code/jerasure/gf-complete"]
	path = erasure-code/jerasure/gf-complete
	url = https://github.com/ceph/gf-complete.git
